*{
    padding: 0;
    margin: 0;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial,Verdana, Helvetica, sans-serif;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding: 40px;
}


header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.262);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.section {
    padding: 2em 0;
    background: white;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section:nth-child(even) {
    background: #81C784; /* Verde-claro */
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.204);
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: none;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}


.footer {
    background-color: #333; /* Cinza-escuro */
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
